<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>mq_showSeparatorLine</key>
	<false/>
	<key>mq_isTranslucent</key>
	<false/>
	<key>mq_backgroundColor</key>
	<string>#ffffff</string>
	<key>mq_textNomalColor</key>
	<string>#afaaae</string>
	<key>mq_textSelectedColor</key>
	<string>#3b87ef</string>
	<key>mq_customFontSize</key>
	<false/>
	<key>mq_titleFontSize</key>
	<dict>
		<key>iPhone5</key>
		<integer>10</integer>
		<key>iPhone6</key>
		<integer>12</integer>
		<key>iPhone6P</key>
		<integer>12</integer>
	</dict>
	<key>mq_items</key>
	<array>
		<dict>
			<key>showAsPresent</key>
			<false/>
			<key>embedInNavigation</key>
			<true/>
			<key>normalImage</key>
			<string>tab-find</string>
			<key>selectedImage</key>
			<string>tab-find-A</string>
			<key>name</key>
			<string>First</string>
		</dict>
		<dict>
			<key>showAsPresent</key>
			<false/>
			<key>embedInNavigation</key>
			<true/>
			<key>normalImage</key>
			<string>tab-nearby</string>
			<key>selectedImage</key>
			<string>tab-nearby-A</string>
			<key>name</key>
			<string>Second</string>
		</dict>
		<dict>
			<key>showAsPresent</key>
			<false/>
			<key>embedInNavigation</key>
			<true/>
			<key>normalImage</key>
			<string>tab-card</string>
			<key>selectedImage</key>
			<string>tab-card-A</string>
			<key>name</key>
			<string>Three</string>
		</dict>
		<dict>
			<key>showAsPresent</key>
			<false/>
			<key>embedInNavigation</key>
			<true/>
			<key>normalImage</key>
			<string>tab-My</string>
			<key>selectedImage</key>
			<string>tab-My-A</string>
			<key>name</key>
			<string>Four</string>
		</dict>
	</array>
</dict>
</plist>
